<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../style1.css">
    <link rel="stylesheet" href="clientList/clientList.css">
</head>
<div ng-show="isUserLoggedIn()">
    <div class="content-container">
        <!--Контейрен настроек ==================================================-->
        <div class="settings-container">
            <div class="client-item" ng-click="setVisibleClientPage()">
                <div class="item">
                    <label>Клиенты</label>
                    <div class="ball">99</div>
                </div>
            </div>
            <div class="client-item" ng-click="setVisibleWaitList()">
                <div class="item">
                    <label>Лист ожидания</label>
                    <div class="ball">99</div>
                </div>
            </div>
        </div>
        <!--     Контейнер для страниц ==================================================-->
        <div id="client-list" class="page">
            <div class="new-client" ng-repeat="order in orderClient">
                <div class="order-info">
                    {{order.game}}, {{order.service}}, {{order.region}}, {{order.playingType}}, {{order.boostMode}},
                    {{order.noParseInfo}}, {{order.specificBosses}}, {{order.orderDateTime}}
                </div>
                <div class="client-info">
                    {{order.characterClass}}, {{order.fraction}}, {{order.nickname}}, {{order.realm}}, {{order.battleTag}}, {{order.orderCode}}
                </div>
                <div class="armory-link">{{order.armoryLink}}</div>

                <div class="comments">Коментарии: {{order.orderComments}}</div>

                <div class="order-status">Статус заказа: {{order.orderStatus}}</div>

            </div>
        </div>
        <div id="wait-list" class="page">
            <h1>Wait List</h1>
        </div>

        <div>

            <!--футер ==================================================-->
            <div class="footer_in_content">
                <div class="footer_text">WowVendorTeamHelper</div>
            </div>
        </div>
    </div>
</div>