* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.background_admin {
    background: #f3f3f3;
    margin: 0 auto;
    min-width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 15%;


}

.top_admin {
    margin: 0 auto;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;*/
}

.title_admin {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #00152a;
}
.table_title{
    align-self: center;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.04em;
    opacity: 0.8;
    color: #00152a;
}

.footer {
    background: #00152a;
    opacity: 0.7;
    height: 30px;
    min-width: 100%;

    padding-top: 15px;
    padding-bottom: 30px;
    color: #f1f1f1;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.04em;
}

.showBlock_link {
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0.04em;
    opacity: 0.8;
    color: #00152a;
    margin-bottom: 20px;
}
#users_1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
    font-size: 12px;
}
#users_2 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
    font-size: 12px;
}

#users_1 td,
#users_1 th,
#users_2 td,
#users_2 th {
    border: 1px solid #ddd;
    padding: 1px;
}

#users_1 tr:nth-child(even),
#users_2 tr:nth-child(even) {
    background-color: #f2f2f2;

}

#users_1 tr:hover ,
#users_2 tr:hover {
    background-color: #ddd;
}

#users_1 th,
#users_2 th{
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #fe5050;
    color: white;
    font-size: 14px;
}

.horizontal-separator {
    border-top: 1px solid gray;
    weight: 100%;
   padding-top: 12px;
   padding-bottom: 12px;
}
.statistics_blocks{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.slack_block{
    border: 1px solid gray;
    width: 45%;
    height: 300px;
    background-color: #ddd;
}
.blizzard_block{
    border: 1px solid gray;
    width: 45%;
    height: 300px;
    background-color: #ddd;
}

