.main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff9f9;
}
.user-panel{
    background-color: silver;
    position: fixed;
    top: 0;
    width: 15%;
    height: 30%;

}
.panel-container {
    position: fixed;
    top: 30%;
    width: 15%;
    height: 70%;
    background-color: silver;
}
.panel-item-container {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: bisque;
    height: 35px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
}
.vertical-separator {
    border-left: 1px solid gray;
    height: 100%;
    position: absolute;
    left: 15%;
    top: 0;
}
.content-container {
    position: fixed;
    background-color: silver;
    top: 0;
    left: 15%;
    margin-left: 1px;
    width: 100%;
    height: 100%;
}
.panel-item-container:hover{
    background-color: lawngreen;
    cursor: pointer;
}
.settings-container {
    text-align: center;
    background-color: green;
    width: 85%;
    height: 15%;
}
.content {
    background-color: #15e3e3;

    width: 85%;
    height: 100%;
}
.team-button {
    margin-top: 6%;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    width: 10%;
    background-color: black;
    height: 30px;
    color: #fff9f9;
}