.msgBox {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*z-index: 1;*/
    background-color: #ffe6e6;
    overflow: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.2s;
    animation-name: animatetop;
    animation-duration: 0.2s
}

@-webkit-keyframes animatetop {
    from {top:5%; opacity:0}
    to {top:10%; opacity:1}
}

@keyframes animatetop {
    from {top:5%; opacity:0}
    to {top:10%; opacity:1}
}

.msgBox_p {
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Noto Sans",Ubuntu,Cantarell,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    line-height: 30px;
    padding: 10px 20px;
    color: #414141;
    text-align: center;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}