* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.background {
    background: #f3f3f3;
    margin: 0 auto;
    min-width: 100%;
    height: 100vh;
}

.top {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95%
}

.footer {
    position: fixed;
    bottom: 0;
    width:100%;
    height: 5%;
    left: 0;
    background: #00152a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_in_content {
    position: fixed;
    bottom: 0;
    width:90%;
    height: 5%;
    left: 10%;
    background: #00152a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_text {
    font-size: 15px;
    color: #f1f1f1;
    font-weight: bold;
    letter-spacing: 0.04em;

}

.title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.04em;
    /*opacity: 0.8;*/
    color: #00152a;
}

.form_block {
    background: #ffffff;
    width: 400px;
    padding: 10px 25px 20px 25px;
    margin-bottom: 20px;
}

.input_form_text {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.04em;
    opacity: 0.8;
    color: #292828;
}

.inputText {
    width: 100%;
    height: 40px;
    opacity: 0.8;
    border: 1px solid #4e5052;
    padding-left: 5px;

}

.submit_button {
    width: 100%;
    height: 40px;
    opacity: 1;
    color: #f1f1f1;
    margin-top: 40px;

    border: 1px solid #00152a;
    text-align: center;
    background-color: #00152a;


}

.registration_link {
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0.04em;
    opacity: 0.8;
    color: #00152a;
}

.main-container {
    position: absolute;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #1a0d21, #37204a);
    /*background-color: #00152a;*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 10%;
}

.user-panel{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    background: #00152a;
    border: 1px double #f1f1f1;
    border-radius: 10px;
    color: #f1f1f1;
    font-size: 14px;
}
.panel-container {
    /*background-color: #00152a;*/
}
.panel-item-container {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 7px;
    background-color: #00152a;
    height: 35px;
    border-width: 1px;
    border-color: wight;
    border-style: solid;
    text-align: center;
    color: #f1f1f1;
}

.panel-item-container:hover{
    background-color: #f3f3f3;
    color:#00152a;
    cursor: pointer;
}

.content-container {
    margin-left: 10%;
    height: 100vh;
    width: 90%;
}

.settings-container {
    display: flex;
    align-items: end;
    background-color: #eff1f4;
    width: 100%;
    height: 15%;
}

.settings-item {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;

    border-style: double;
    width: auto;
    background-color: #00152a;
    height: auto;
    color: #f1f1f1;
}