* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.background {
    background: #f3f3f3;
    margin: 0 auto;

    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.title {
    align-self: center;
    margin-top: 200px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.04em;
    opacity: 0.8;
    color: #00152a;

}

.form_block {
    background: #ffffff;
    width: 400px;
    align-self: center;
    padding: 10px 25px 20px 25px;
}

.footer {
    position: absolute;
    background: #00152a;
    height: 30px;
    min-width: 100%;

    padding-top: 15px;
    padding-bottom: 30px;
    color: #f1f1f1;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.04em;
}

.input_form_text {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.04em;
    opacity: 0.8;
    margin-top: 10px;
    color: #292828;
}

.inputText {
    width: 100%;
    height: 40px;
    opacity: 0.8;
    border: 1px solid #4e5052;
    padding-left: 5px;

}

.submit_button {
    width: 100%;
    height: 40px;
    opacity: 1;
    color: #f1f1f1;
    background: #fe5050;
    border: 1px solid #fe5050;
    text-align: center;
    margin-top: 40px;

}

.registration_link {
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0.04em;
    opacity: 0.8;
    color: #00152a;
}

.main-container {
    position: absolute;
    height: 100vh;
    background-color: #ffffff;
}
.user-panel{
    background-color: #6b5b5b;
    position: fixed;
    top: 0;
    width: 15%;
    height: 30%;

}
.panel-container {
    position: fixed;
    top: 30%;
    width: 15%;
    height: 100%;
    background-color: #d2a7a7;
}
.panel-item-container {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: bisque;
    height: 35px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

.content-container {
    margin-left: 15%;
    background-color: #fd0000;
    height: 100vh;

}
.panel-item-container:hover{
    background-color: lawngreen;
    cursor: pointer;
}
.settings-container {
    display: flex;
    align-items: end;
    background-color: green;
    width: 100%;
    height: 15%;
}

.settings-item {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    width: auto;
    background-color: black;
    height: auto;
    color: #fff9f9;
}