* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}
.settings {
    display: flex;
    justify-content: end;
}
.users-list-form {
    background-color: #eff1f4;
    width: 450px;
    min-height: 100px;
    max-height: 500px;
    overflow: auto;
    text-align: center;
    padding: 15px;
    border: 1px solid #00152a;
    border-radius: 10px;
    position: absolute;
    top: 25%;
    right: 0;
    left: 10%;
    margin: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    z-index:2;
    display: flex;
    flex-direction: column;
}
.modal-wrapper {
    position:fixed;
    top: 0;
    left: 0;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background: rgba(0,0,0,.7);
    z-index:100;
    display: none;
}

.overlay {
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
}

.users-content {
    display: grid;
    grid-template-columns: 10% 15% 35% 40%;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    background-color: #ffffff;
    width: 400px;
}

.approve_button {
    padding: 5px 10px 5px 10px;
    text-align: center;
    width: auto;
    background-color: #00152a;
    color: white;
    border: 0.5px solid #f3f3f3;
    border-radius: 5px;
}
.users-list-form-button {
    margin-top: 10px;
    text-align: center;
    background-color: #00152a;
    color: #f3f3f3;
    font-size: 13px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    border: 0.5px solid #00152a;
    width: auto;
}

.users-list-form_button:hover {
    cursor: pointer;
    background-color: #f3f3f3;
    color: #00152a;
}
.table_title{
      margin-bottom: 10px;
      font-size: 16px;
      letter-spacing: 0.04em;
      text-align: center;
      color: #88001b;
      opacity: 0.8;
}
.users-data {
    margin: auto;
}

.admin-content {
    background-color: white;
    width: 900px;
    min-height: 550px;
    max-height: 550px;
    padding: 15px;
    border: 0.5px solid #00152a;
    border-radius: 10px;
    margin: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    z-index:2;
    display: none;
}

#users_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    min-width: 96%;
}

#users_table th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    border: 1px;
    border: 1px solid #ddd;
}

#users_table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}


#users_table tr:hover {
    background-color: #ddd;
}

