html,
body {
    height:100%
}


.events::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.events {
    padding-top: 2%;
    height: 80.5%;
    width: 900px;
    background-color: #eff1f4;
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    margin-left: auto;
    margin-right: auto;
}
.event {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 5px;
    height: 100px;
    width: 100%;
    background-color: mediumpurple;
}
.event:hover {
    cursor: pointer;
}

.schedule-form {
    background-color: #eff1f4;
    width: 560px;
    min-height: 100px;
    max-height: 500px;
    overflow: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #00152a;
    border-radius: 10px;
    position: absolute;
    top: 25%;
    right: 0;
    left: 10%;
    margin: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    z-index:2;
    display: flex;
    flex-direction: column;
}

.schedule-div {
    display: grid;
    grid-template-columns: 140px 140px 100px 180px;
    height: 40px;
    background-image: linear-gradient(to bottom right, #1a0d21, #37204a);
    color: #f3f3f3;
    margin-bottom: 10px;
}

.schedule-form-label {
    text-align: center;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
}
.add-schedule-list{
    display: grid;
    grid-template-columns: 140px 140px 100px 180px;
    height: 30px;
    margin: 5px 0 5px 0;
}

.selector-scheduleList {
    width: 100%;
    height: 30px;
    background-color: #00152a;
    color: #f3f3f3;
}

.input-schedule {
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-color: #d1d1d1;
    border-radius: 0;
    width: 95%;
    background-color: #00152a;
    padding-left: 5%;
    height: 29px;
    color: #f3f3f3;
    font-size: 14px;
}
.input-schedule:focus{
    background-color: white;
    color: #00152a;
}

.addEventButton {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 40%;
    background-color: #e2e2e2;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    color: #00152a;
    font-weight: bold;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addEventButton:hover {
    background-color: #00152a;
    color: #f3f3f3;
    cursor: pointer;
}
.button_in_schedule_form {
    text-align: center;
    background-color: #00152a;
    color: #f3f3f3;
    font-size: 13px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    border: 0.5px solid #00152a;
    width: auto;
    margin: auto;
}

.button_in_schedule_form:hover {
    cursor: pointer;
    background-color: #f3f3f3;
    color: #00152a;
}
.button {
    text-align: center;
    background-color: #f3f3f3;
    color: #00152a;
    font-size: 13px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    border: 0.5px solid #00152a;
    width: auto;
    margin: auto;
}

.button:hover {
    cursor: pointer;
}
.control {
    margin: 15px;
}

.label_in_schedule_form {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.04em;
    color: #00152a;
}

.input-text-schedule {
    margin-top: 10px;
    text-align: start;
    height: 100px;
    resize: none;
    font-size: 17px;
    padding: 5%;
}

.input-text-schedule::placeholder {
    font-size: 17px;
    text-align: center;
    margin-top: 0;
}
.notaBene{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #88001b;
    opacity: 0.8;
}

.event-top-label {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-separator {
    border-top: 1px solid #00152a;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.event-label {
    display: grid;
    grid-template-columns: 10% 15% 15% 15% 25% 20%;
    margin: 15px auto;
    color: #00152a;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.04em;

}
.event-content {
    display: grid;
    grid-template-columns: 10% 15% 15% 15% 25% 20%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 7%;
    border-radius: 10px;
}

.icon_button{
    padding: 5px;
    margin: 0 5px;
}
.safe_icon_button{
    padding: 5px;
    margin: 0 5px;
    width: 34px;
}

.event-content:nth-child(odd) {
    background-color: #ffffff;/* фон нечетных столбцов */
}
.event-content:nth-child(odd):hover {
    background-image: linear-gradient(to bottom right, #1a0d21, #37204a);;
    color: #f3f3f3;
}
.event-content:nth-child(even) {
   background-color: #ffffff;/* фон нечетных столбцов */
}
.event-content:nth-child(even):hover {
    background-image: linear-gradient(to bottom right, #1a0d21, #37204a);
    color: #f3f3f3;
}

.event-data {
    margin: auto;
}

.event-date-input {
    text-align: center;
    width: 70px;
    margin: auto;
    height: 30px;
    padding-left: 3px;
}
.event-time-input {
    text-align: center;
    width: 170px;
    margin: auto;
    height: 30px;
    padding-left: 3px;
}

.modal-wrapper {
    position:fixed;
    top: 0;
    left: 0;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.7);
    z-index:100;
    display: none;
}

.overlay {
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
}


